.app {
    width: 100%;
    max-width: 600px;
    min-height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: calc(.6rem + 2vmin);
}

.app-list-manager {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}